.html {
  background: #1a1b26;
  color: #9aa5ce;
}

.jumbotron {
  background: #5a4a78;
  color: #9aa5ce;
  padding-bottom: 80px;
}

.jumbotron .btn-primary {
  background: #bb9af7;
  border-color: #bb9af7;
}

.jumbotron .btn-primary:hover {
  background: #5a4a78;
}

.jumbotron p {
  color: #9aa5ce;
  max-width: 75%;
  margin: 1em auto 2em;
}

.navbar + .jumbotron {
  margin-top: -20px;
}

.jumbotron .lang-logo {
  display: block;
  background: #f7768e;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid #cfc9c2;
}

.jumbotron .lang-logo img {
  max-width: 100%;
}
